*obj*
*bin*
*ReSharper*
/src/main/csharp/Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/main/csharp/WebServer.suo
/src/main/csharp/WebServer/WebServer.csproj.user
/src/main/csharp/WebServer/WebServer.suo
/src/main/csharp/WebServer/bin/WebServer.dll
/src/main/csharp/WebServer/bin/WebServer.pdb
/src/main/csharp/WebServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/main/csharp/WebServer/obj/Debug/WebServer.csproj.FileListAbsolute.txt
/src/main/csharp/WebServer/obj/Debug/WebServer.dll
/src/main/csharp/WebServer/obj/Debug/WebServer.pdb
/src/main/csharp/WebServer.suo
/src/main/csharp/WebServer/WebServer.csproj.user
/src/main/csharp/WebServer/WebServer.suo
*user
*suo